div {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
}

.assign-1-shape-1 {
  background-color: #8a2be2;
}

.assign-1-shape-2 {
  background-color: hsl(271, 40%, 78%);
}

.assign-1-shape-3 {
  background-color: rgba(138, 43, 226, 0.1);
}